<h1>Edit Organisation</h1>

<%= render partial: "form", locals: {organisation: @organisation} %>

<h2>Events</h2>
<ul>
  <% @organisation.events.each do |event| %>
    <li>
      <%= event.name %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'New event', new_organisation_event_path(@organisation.id) %></p>