<h1>Organisations</h1>

<%= link_to 'New organisation', new_organisation_path %>

<% @organisations.each do |organisation| %>
  <ul>
    <li>
      <%= organisation.name %> <%= link_to 'Edit', edit_organisation_path(organisation) %> <%= link_to 'Delete', organisation_path(organisation), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
<% end %>