<h1>Hello, world!</h1>

<h2>Regular weekly classes</h2>

<ul>
  <% @events.classes_by_day.each do |day, classes| %>
    <li>
      <%= day.capitalize %>
      <ul>
        <% classes.each do |c| %>
          <li>
            <%= c.name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
