<h1>Organisations</h1>

<%= link_to 'New organisation', new_admin_organisation_path %>

<ul>
  <% @organisations.each do |organisation| %>
    <li>
      <%= organisation.name %> <%= link_to 'Edit', edit_admin_organisation_path(organisation) %> <%= link_to 'Delete', admin_organisation_path(organisation), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>