<h1>Locations</h1>

<%= link_to 'New location', new_location_path %>

<% @locations.each do |location| %>
  <ul>
    <li>
      <%= location.name %> <%= link_to 'Edit', edit_location_path(location) %> <%= link_to 'Delete', location_path(location), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
<% end %>
